<h1 class="display-4 text-center mt-50 main-heading">
  RoR Assignment
</h1>

<div class="container text-center mt-4">
  <%= link_to 'Show all Article', articles_path, class: "main-links" %>
  <%= link_to 'Create a Article', new_article_path, class: "main-links" %>
</div>