<footer class="page-footer font-small black mt-10 pt-4">
  <div class="footer-copyright text-center py-3">
    <!-- <%= link_to "RoR Assignment", root_path, style: "color: #263238;" %> -->
  </div>
</footer>